//
// Globals
//

$buttonBackgroundColor: #475569;			// Tailwind Gray 600
$buttonBackgroundColorDisabled: #9ca3af; 	// Tailwind Gray 400
$buttonBackgroundColorHover: #1e293b;		// Tailwind Gray 800
$buttonTextColor: #f9fafb;					// Tailwind Gray 50
$buttonTextColorDisabled: #d1d5db;			// Tailwind Gray 300

$margins: 1rem;