//
// Imports
//

@use "./GlobalDefaults";

//
// Mixins
//

@mixin ConditionalTopBottomMargin($margins: GlobalDefaults.$margins)
{
	margin: 0;

	&:not(:first-child)
	{
		margin-top: $margins;
	}

	&:not(:last-child)
	{
		margin-bottom: $margins;
	}
}