//
// Imports
//

@use "./GlobalDefaults";

//
// Mixins
//

@mixin AutomaticGridTemplateColumns($preferredWidth)
{
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
}

@mixin ConditionalTopBottomMargin($margins: GlobalDefaults.$margins)
{
	margin: 0;
	
	@if $margins != 0
	{
		&:not(:first-child)
		{
			margin-top: $margins;
		}

		&:not(:last-child)
		{
			margin-bottom: $margins;
		}
	}
}