//
// Imports
//

@use "./GlobalDefaults";

//
// Mixins
//

@mixin AutomaticGridTemplateColumns($preferredWidth)
{
	grid-template-columns: repeat(auto-fit, minmax(min(100%, $preferredWidth), 1fr));
}

@mixin ConditionalTopBottomMargin($margins: GlobalDefaults.$margins)
{
	margin: 0;
	
	@if $margins != 0
	{
		&:not(:first-child)
		{
			margin-top: $margins;
		}

		&:not(:last-child)
		{
			margin-bottom: $margins;
		}
	}
}

@mixin FormTextInput($backgroundColor, $borderColor, $outlineColor)
{
	background-color: $backgroundColor;

	border: 1px solid $borderColor;
	border-radius: 0.625rem;

	display: block;

	padding: 0.5rem;

	width: 100%;

	&:focus,
	&:focus-within
	{
		outline: 3px solid $outlineColor;
	}

	&[readonly]
	{
		cursor: default;

		opacity: 0.5;
	}
}