//
// Component
//

$textColor: blue;
$textColorVisited: purple;
$textDecoration: underline;
$textDecorationHover: underline;

@mixin Anchor
(
	$textColor: $textColor,
	$textColorVisited: $textColorVisited,
	$textDecoration: $textDecoration,
	$textDecorationHover: $textDecorationHover,
)
{
	.component-anchor
	{
		color: $textColor;

		text-decoration: $textDecoration;

		&:hover
		{
			text-decoration: $textDecorationHover;
		}

		&:visited
		{
			color: $textColorVisited;
		}
	}
}