//
// Imports
//

@use "./Mixins";

//
// Component
//

@mixin Block($margins: 1rem)
{
	.component-block
	{
		@include Mixins.ConditionalTopBottomMargin($margins);

		background-color: #ffffff;

		border: 1px solid #dddddd;
		border-radius: 0.625rem;

		box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); // Tailwind shadow-md

		padding: 0.75rem;
	}

	.component-block.no-padding
	{
		padding: 0;
	}
}