//
// Imports
//

@use "./GlobalDefaults";
@use "./Mixins";

//
// Component
//

@mixin Block($margins: GlobalDefaults.$margins)
{
	.component-block
	{
		@include Mixins.ConditionalTopBottomMargin($margins);

		background-color: #ffffff;

		border: 1px solid #dddddd;
		border-radius: 0.625rem;

		box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); // Tailwind shadow-md

		padding: 0.75rem;
	}

	.component-block-group
	{
		@include Mixins.ConditionalTopBottomMargin($margins);

		> .component-block
		{
			margin: 0;

			&:not(:only-child, :first-child)
			{
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}

			&:not(:only-child, :last-child)
			{
				border-bottom: none;

				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
	}

	.component-block.no-padding
	{
		padding: 0;
	}
}