//
// Imports
//

@use "./GlobalDefaults";
@use "./Mixins";

//
// Component
//

$backgroundColor: transparent;
$borderColor: #dddddd;
$gap: 0.5rem;
$margins: GlobalDefaults.$margins;

@mixin BubbleList($margins: $margins, $gap: $gap, $backgroundColor: $backgroundColor, $borderColor: $borderColor)
{
	.component-bubble-list-item
	{
		background-color: $backgroundColor;

		border: 1px solid $borderColor;

		border-radius: 0.625rem;

		padding: 0.5rem;
	}

	.component-bubble-list
	{
		@include Mixins.ConditionalTopBottomMargin($margins);

		&
		{
			display: flex;

			flex-wrap: wrap;

			gap: $gap;
		}
	}
}