//
// Imports
//

@use "./GlobalDefaults";
@use "./Mixins";

//
// Components
//

$backgroundColor: #475569; 				// Tailwind Gray 600
$backgroundColorDisabled: #9ca3af; 		// Tailwind Gray 400
$backgroundColorHover: #1e293b; 		// Tailwind Gray 800
$textColor: #f9fafb;					// Tailwind Gray 50
$textColorDisabled: #d1d5db;			// Tailwind Gray 300
$margins: GlobalDefaults.$margins;

@mixin Button
(
	$backgroundColor: $backgroundColor,
	$backgroundColorDisabled: $backgroundColorDisabled,
	$backgroundColorHover: $backgroundColorHover,
	$textColor: $textColor,
	$textColorDisabled: $textColorDisabled,
	$margins: $margins,
)
{
	.component-button
	{
		@include Mixins.ConditionalTopBottomMargin($margins);

		&
		{
			align-items: center;

			all: unset;

			background-color: $backgroundColor;

			border: none;

			border-radius: 0.625rem;

			color: $textColor;

			display: flex;

			font-family: inherit; // For <button> elements

			font-size: inherit; // For <button> elements

			gap: 0.625rem;

			padding: 0.625em;

			text-align: inherit; // For <button> elements

			text-decoration: none; // For <a> elements

			transition: background-color 0.2s;
		}

		&:not(:disabled)
		{
			&:focus,
			&:hover
			{
				background-color: $backgroundColorHover;

				cursor: pointer;

				text-decoration: none;
			}
		}

		&:disabled
		{
			background-color: $backgroundColorDisabled;

			color: $textColorDisabled;
		}

		> .icon,
		> .external
		{
			max-height: 1em;
		}
	}

	.component-button-group
	{
		@include Mixins.ConditionalTopBottomMargin($margins);

		&.left-aligned-group,
		&.center-aligned-group,
		&.right-aligned-group
		{
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: 0.75rem;

			> .component-button
			{
				margin: 0 !important;
			}
		}

		&.center-aligned-group
		{
			justify-content: center;
		}

		&.right-aligned-group
		{
			justify-content: flex-end;
		}

		&.left-aligned-list,
		&.center-aligned-list
		{
			display: flex;
			flex-direction: column;
			gap: 1px;
			
			> .component-button
			{
				margin: 0 !important;

				&:not(:only-child):first-child
				{
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
				}

				&:not(:first-child, :last-child)
				{
					border-radius: 0;
				}

				&:not(:only-child):last-child
				{
					border-top-left-radius: 0;
					border-top-right-radius: 0;
				}
			}
		}

		&.left-aligned-list
		{
			> .component-button
			{
				> .icon
				{
					text-align: center;
					width: 1.25em;
				}
			}
		}

		&.center-aligned-list
		{
			> .component-button
			{
				justify-content: center;
			}
		}
	}
}