//
// Imports
//

@use "./GlobalDefaults";
@use "./Mixins";

//
// Component
//

@mixin ContentWrapper($defaultWidth, $margins: GlobalDefaults.$margins)
{
	.component-content-wrapper
	{
		--width: #{$defaultWidth};

		@include Mixins.ConditionalTopBottomMargin($margins);

		&
		{
			display: grid;

			grid-template-areas: ". content .";

			grid-template-columns: 1fr minmax(0px, var(--width)) 1fr;
		}

		> *
		{
			grid-area: content;

			position: relative;
		}
	}
}