//
// Imports
//

@use "./GlobalDefaults";
@use "./Mixins";

//
// Component
//

// Note: The colors below are from Bootstrap's alerts
//	https://getbootstrap.com/docs/4.1/components/alerts/
$dangerBackgroundColor: #f8d7da;
$dangerTextColor: #721c24;

$infoBackgroundColor: #d1ecf1;
$infoTextColor: #0c5460;

$successBackgroundColor: #d4edda;
$successTextColor: #155724;

$warningBackgroundColor: #fff3cd;
$warningTextColor: #856404;

@mixin Notice
(
	$margins: GlobalDefaults.$margins,

	$dangerBackgroundColor: $dangerBackgroundColor,
	$dangerTextColor: $dangerTextColor,

	$infoBackgroundColor: $infoBackgroundColor,
	$infoTextColor: $infoTextColor,

	$successBackgroundColor: $successBackgroundColor,
	$successTextColor: $successTextColor,

	$warningBackgroundColor: $warningBackgroundColor,
	$warningTextColor: $warningTextColor,
)
{
	.component-notice
	{
		@include Mixins.ConditionalTopBottomMargin($margins);

		border-radius: 0.625rem;

		display: grid;

		grid-template-columns: auto 1fr;

		&.danger
		{
			background-color: $dangerBackgroundColor;
			color: $dangerTextColor;
		}

		&.info
		{
			background-color: $infoBackgroundColor;
			color: $infoTextColor;
		}

		&.success
		{
			background-color: $successBackgroundColor;
			color: $successTextColor;
		}

		&.warning
		{
			background-color: $warningBackgroundColor;
			color: $warningTextColor;
		}

		.icon-wrapper
		{
			align-items: center;

			background-color: rgba(0, 0, 0, 0.05);

			border-top-left-radius: 0.625rem;
			border-bottom-left-radius: 0.625rem;

			display: flex;

			justify-content: center;

			padding: 1rem;
		}

		.content-container
		{
			padding: 1rem;
		}
	}
}