//
// Imports
//

@use "../Mixins";

//
// Component
//

@mixin ColorInput($outlineColor)
{
	.component-color-input
	{
		@include Mixins.ConditionalTopBottomMargin();

		&
		{
			border: none;
			border-radius: 0.625rem;

			display: block;

			overflow: hidden;

			padding: 0;

			height: 3rem;
			width: 100%;
		}

		&:focus,
		&:focus-within
		{
			outline: 2px solid $outlineColor;
		}

		&::-moz-color-swatch,
		&::-webkit-color-swatch
		{
			border: none;
		}
	}
}
