//
// Imports
//

@use "../Mixins";

//
// Component
//

@mixin Control($backgroundColor, $borderColor, $outlineColor)
{
	.component-control
	{
		position: relative;

		@include Mixins.ConditionalTopBottomMargin();

		&[data-type="select"]
		{
			> .overlay
			{
				pointer-events: none;
			}
		}

		> .input
		{
			appearance: none;
			-webkit-appearance: none;

			background-color: $backgroundColor;
	
			border: 1px solid $borderColor;
			border-radius: 0.625rem;

			display: block;
	
			color: inherit;
	
			padding: 0.5rem;
	
			height: 2.5rem;
			width: 100%;
	
			&:disabled
			{
				cursor: not-allowed;
		
				opacity: 0.5;
			}

			&:focus
			{
				outline: 3px solid $outlineColor;
			}

			&:is(textarea)
			{
				min-height: 10rem;
				
				resize: vertical;
			}
		}

		> .overlay
		{
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0.75rem;
			margin: auto;

			width: 1rem;
			height: 1rem;

			cursor: pointer;
		}
	}
}