//
// Imports
//

@use "../Mixins";

//
// Component
//

@mixin FormPasswordInput($backgroundColor, $borderColor)
{
	.component-form-password-input
	{
		@include Mixins.ConditionalTopBottomMargin();

		@include Mixins.FormTextInput($backgroundColor, $borderColor);

		display: grid;

		gap: 0.5rem;

		grid-template-columns: 1fr auto;

		input
		{
			border: none;

			&:focus
			{
				outline: none;
			}
		}

		.toggle
		{
			cursor: pointer;
		}
	}
}
