//
// Imports
//

@use "../Mixins";

//
// Component
//

@mixin Label
{
	.component-label
	{
		@include Mixins.ConditionalTopBottomMargin();

		display: flex;

		gap: 0.5rem;

		font-weight: bold;
	}
}
