//
// Imports
//

@use "../Mixins";

//
// Component
//

@mixin PasswordInput($backgroundColor, $borderColor, $outlineColor)
{
	.component-password-input
	{
		@include Mixins.ConditionalTopBottomMargin();

		@include Mixins.Input($backgroundColor, $borderColor, $outlineColor);

		&
		{
			display: grid;

			gap: 0.5rem;

			grid-template-columns: 1fr auto;
		}

		input
		{
			border: none;

			&:focus
			{
				outline: none;
			}
		}

		.toggle
		{
			cursor: pointer;
		}
	}
}
